<div class="home-container">
    <div class="home-top">
        <div>
        <h1 class="home-head">Hey, Alan</h1>
    <div class="atm-card">
        <img src="assets/icons/Group 1.png" class="img-atm">
        <div class="card-details">
            <h2>ALAN WILLIAM</h2>
        <div>
            <p>Balance Amount</p>
            <h3>$ {{this.currentAmount}}</h3>
        </div>
        </div>
    </div>
    </div>
    <div class="add-money-container">
        <p>
        $<input type="number" placeholder="1000" value={{this.addMoney}} {{on 'input' this.addAmount}}>
        </p>
        
        <div class="add-amount">
            {{#each this.moneyBtns as |btn|}}
                <button type="button" {{on "click" (fn this.onChangeMoney btn)}}>+ {{btn}}</button>
            {{/each}}
        </div>
    <button class="add-money-btn" type="button" {{on 'click' this.addToWallet}}>Add Money To Wallet</button>

    </div>
    </div>
</div>