<div class="home-container">
    <div class="home-top">
        <div>
        <h1 class="home-head">Hey, Alan</h1>
    <div class="atm-card">
        <img src="assets/icons/Group 1.png" class="img-atm">
        <div class="card-details">
            <h2>ALAN WILLIAM</h2>
        <div>
            <p>Balance Amount</p>
            <h3>$ {{ mut this.wallet.amount}}</h3>
        </div>
        </div>
    </div>
    </div>
    <div class="add-money-container">
        <p>
        $<input type="number" placeholder="1000" value={{this.addMoney}} min={{0}} {{on 'input' this.addAmount}} onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
        </p>
        
        <div class="add-amount">
            {{#each this.moneyBtns as |btn|}}
                <button type="button" {{on "click" (fn this.onChangeMoney btn)}}>+ {{btn}}</button>
            {{/each}}
        </div>
    <button class="add-money-btn" type="button" {{on 'click' this.addToWallet}}>Add Money To Wallet</button>

    </div>
    </div>
    <div class="wallet-head-container">
        <h2 class="wallet-his-head">Wallet History</h2>
        <div class="wallet-nav-container">
            <div class="wallet-nav-selected" {{on 'click' (fn this.currentFilter 'all')}}>
                <h4>All</h4>
            </div>
            <div class="wallet-nav-selected" {{on 'click' (fn this.currentFilter 'debit')}}>
                <h4>Debit</h4>
            </div>
            <div class="wallet-nav-selected" {{on 'click' (fn this.currentFilter 'credit')}}>
                <h4>Credit</h4>
            </div>
            <div class="wallet-nav-selected" {{on 'click' (fn this.currentFilter 'refund')}}>
                <h4>Refund</h4>
            </div>
        </div>
    </div>
    {{#each this.wallet.walletData as |item|}}
        <WalletHistoryCard @walletItem={{item}} />
        
    {{/each}}
</div>